<!DOCTYPE html>
<html>
<head>
<title>定时任务</title>
<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn" style="height:34px;">
			<div class="form-group col-sm-2">
				<input type="text" class="form-control" v-model="q.beanName" @keyup.enter="query" placeholder="bean名称">
			</div>
			<a class="btn btn-default" @click="query">查询</a>

			<#if shiro.hasPermission("sys:schedule:save")>
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("sys:schedule:update")>
			<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("sys:schedule:delete")>
			<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
			<#if shiro.hasPermission("sys:schedule:pause")>
			<a class="btn btn-primary" @click="pause"><i class="fa fa-pause"></i>&nbsp;暂停</a>
			</#if>
			<#if shiro.hasPermission("sys:schedule:resume")>
			<a class="btn btn-primary" @click="resume"><i class="fa fa-play"></i>&nbsp;恢复</a>
			</#if>
			<#if shiro.hasPermission("sys:schedule:run")>
			<a class="btn btn-primary" @click="runOnce"><i class="fa fa-arrow-circle-right"></i>&nbsp;立即执行</a>
			</#if>
			<#if shiro.hasPermission("sys:schedule:log")>
			<a class="btn btn-danger" style="float:right;" href="schedule_log.html">日志列表</a>
			</#if>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
	</div>
	
	<div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
			<div class="form-group" >
			   	<div class="col-sm-2 control-label">定时名称</div>
			   	<div class="col-sm-10">
			      <!--<input type="text" class="form-control" v-model="schedule.beanName" placeholder="spring bean名称，如：testTask"/>-->
					<select v-model="schedule.beanName"  >
						<option value="timingTask" >timingTask</option>
					</select>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">亮度</div>
			   	<div class="col-sm-10">
			      <!--<input type="text" class="form-control" v-model="schedule.params" placeholder="亮度"/>-->
					<select v-model="schedule.params" >
						<option value="0">0%</option>
						<option value="20">20%</option>
						<option value="40">40%</option>
						<option value="60">60%</option>
						<option value="80">80%</option>
						<option value="100">100%</option>
					</select>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">时间点</div>
			   	<div class="col-sm-10">
			      <!--<input type="text" class="form-control" v-model="schedule.cronExpression" placeholder="如：0 0 12 * * ?"/>-->
					<select v-model="schedule.cronExpression" >
						<option value="0 0 0 * * ?">0点</option>
						<option value="0 0 1 * * ?">1点</option>
						<option value="0 0 2 * * ?">2点</option>
						<option value="0 0 3 * * ?">3点</option>
						<option value="0 0 4 * * ?">4点</option>
						<option value="0 0 5 * * ?">5点</option>
						<option value="0 0 6 * * ?">6点</option>
						<option value="0 0 7 * * ?">7点</option>
						<option value="0 0 8 * * ?">8点</option>
						<option value="0 0 9 * * ?">9点</option>
						<option value="0 0 10 * * ?">10点</option>
						<option value="0 0 11 * * ?">11点</option>
						<option value="0 0 12 * * ?">12点</option>
						<option value="0 0 13 * * ?">13点</option>
						<option value="0 35 14 * * ?">14点</option>
						<option value="0 0 15 * * ?">15点</option>
						<option value="0 0 16 * * ?">16点</option>
						<option value="0 0 17 * * ?">17点</option>
						<option value="0 0 18 * * ?">18点</option>
						<option value="0 0 19 * * ?">19点</option>
						<option value="0 0 20 * * ?">20点</option>
						<option value="0 0 21 * * ?">21点</option>
						<option value="0 0 22 * * ?">22点</option>
						<option value="0 0 23 * * ?">23点</option>
					</select>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">备注</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="schedule.remark" placeholder="备注"/>
			    </div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="${request.contextPath}/statics/js/modules/job/schedule.js?_${.now?long}"></script>
</body>
</html>